:root {
    --clr-light: #68e7f2;
    --clr-dark: #0584fa;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:  linear-gradient(120deg, var(--clr-light), var(--clr-dark));
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header{
    font-size:2rem;
}

header,form{
    min-height: 20vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

form input,
form button{
    padding:0.5rem;
    font-size: 2rem;
    border: none;
    background:  white;
}

input[type=text]:focus {
    border: none;
    border-top: 4px solid var(--clr-dark);
    transition: all 0.3s ease;
}

form button{
    color: var(--clr-dark);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    color:white;
    background: var(--clr-light);
}


.todo-container,.delete-all-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin:0.5rem;
    background:white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex:1;
}
.trash-btn{
    background: #fc4423;
    color: black;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn{
    background: #33ff9c;
    color: black;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.trash-btn:hover{
    background: #b82504;
}
.delete-all-trash-btn{
    background: #fc4423;
    color: black;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.delete-all-trash-btn:hover{
    background: #b82504;
}
.clear-completed-btn{
    background: white;
    color: black;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-completed-btn:hover{
    background:#d6d6d6
}

.complete-btn:hover{
    background: #1D9D74;
}

.fa-trash,.fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    color: var(--clr-dark);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: var(--clr-dark);
    top:0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}

.select:hover::after{
    background: white;
    color:var(--clr-light);
}



.fa-check-circle:hover {
    color: var(--clr-dark);
}

